# Default ignored files
/../../Visualize Data with a Bar Chart /.idea/shelf/
/../../Visualize Data with a Bar Chart /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Visualize Data with a Bar Chart /.idea/httpRequests/
# Datasource local storage ignored files
/../../Visualize Data with a Bar Chart /.idea/dataSources/
/../../Visualize Data with a Bar Chart /.idea/dataSources.local.xml
